#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img\abc.jpg/);
    opacity: 0.3;
}

ul {
    display: flex;
    position: relative;
    right: 210px;






}

a,
.olink {
    color: white;
    text-decoration: none;

}

li {
    list-style: none;


}

.olink {
    display: flex;
    margin: auto;
    color: white;
    text-decoration: none;
    border: solid transparent;
    border-radius: 10px;
    width: max-content;
    padding: 1rem;
    font-size: x-large;
    background-color: rgb(127, 14, 233);

}

.olink {
    transition: transform .3s ease-in-out;




}

.olink:hover {
    transform: scale(1.2);
    text-decoration: underline;
}