#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/jimmy-dean-Yn0l7uwBrpw-unsplash.jpg);

    opacity: 0.3;


}

.h {
    text-align: center;



}

li {

    text-align: justify;
    list-style: none;
    position: relative;
    left: 480px;


}




.li1 {
    background-color: black;
    color: white;
    padding: 1rem;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;

}

.li2 {
    background-color: black;
    color: white;
    padding: 1rem;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

img {
    display: flex;
    margin: auto;
    border-radius: 15px;
    box-shadow: 6px 6px 16px;
}

h1 {
    font-family: cursive;
    text-decoration: underline;
}

p {
    border: transparent;
    width: 200px;
    padding: 1rem;
    margin: auto;
    border-radius: 15px;
    box-shadow: 6px 6px 16px;
    background-color: honeydew;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.plink {
    display: flex;
    position: relative;
    left: 400px;
    color: white;
    text-decoration: none;
    border: solid;
    border-radius: 10px;
    width: max-content;

    padding: 1rem;
    font-size: x-large;
    background-color: rgb(127, 14, 233);

}

.plink {
    transition: transform .3s ease-in-out;



}

.plink:hover {
    transform: scale(1.2);
    text-decoration: underline;
}